body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  background-color: #fafafa;
  color: #505050;
  text-align: left;
  margin: 30px auto;
  width: 1000px;
}
h1,
h2 {
  color: #813c54;
  text-shadow: 1px 1px 2px #d0d0d0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.7rem;
}

p {
  margin: 1.5rem auto;
  width: 900px;
}
table {
  width: 900px;
  margin: 1rem auto;
}
.table {
  width: 900px;
}
a {
  color: #b8860b;
}
a:hover {
  color: #b2132e;
}
a.current {
  color: #52739e;
}
a.current:hover {
  color: #e82945;
}
/* Conference Title Logo */
.title1 {
  color: #b2132e;
  text-shadow: 1px 1px 3px #c0c0c0;
}
.title2 {
  color: #52739e;
  text-shadow: 1px 1px 3px #c0c0c0;
}

/* Website Banner */
.banner {
  position: relative;
}
.top-left {
  font-size: 2.5em;
  color: #505050;
  background: #fafafa;
  text-align: center;
  width: 1000px;
  position: absolute;
  top: 0px;
}
.bottom-right {
  font-size: 1.6em;
  color: #fafafa;
  line-height: 1.5em;
  padding: 0px 27px 27px 0px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-shadow: 0px 0px 6px #000000;
}

/* Navigation Links (Home, Registration, etc) */
table.navigation {
  width: 900px;
}
td.navigation {
  font-size: 1.6rem;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

td.title {
  width: 90%;
  font-size: 1.5em;
  color: #813c54;
  text-shadow: 1px 1px 2px #d0d0d0;
}
td.title-special {
  width: 90%;
  font-size: 1.67em;
  color: #52739e;
  text-shadow: 1px 1px 2px #d0d0d0;
}
td.speaker {
  font-style: italic;
  font-size: 1em;
}
td.abstract {
  font-size: 1em;
}

/* Sponsor Images */
table.sponsors {
  width: 800px;
}
td.sponsor {
  text-align: center;
  padding: 0;
}
td.sponsor img {
  width: 60%;
}

/* Footer */
footer {
  font-size: 0.87em;
  margin-top: 6em;
  text-align: center;
}
